.curriculum_list {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.curriculum-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  background-color: #d9d9d9;
  opacity: 0.8;
  padding: 1rem 5rem;
  margin: 1rem;
}

.data-container_item {
  padding: 1rem;
}
