.createCV_section {
  background-color: #d9d9d9;
  opacity: 0.8;
  border-radius: 20% 0% 20% 0%;
  width: 50%;
  height: 50%;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  padding: 2.5rem;
}
